<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>TV Cafetería</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/tv.css') }}">

</head>

<body>

<div id="pantalla"></div>

<audio id="dingAudio">
    <source src="{{ url_for('static', filename='audio/ding.mp3') }}"
            type="audio/mpeg">
</audio>

<script src="{{ url_for('static', filename='js/tv.js') }}"></script>

</body>
</html>